body{
margin: 0;
padding: 0;
background-color: #E9ECEF;
}



h1{font-size: 55;
color: black;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box{
    background-color: red;
   width: 300px;
    height: 300px;
   /*  padding: 10px;*/
   /* margin: auto;
    margin-right: auto;

    margin-left: auto;
    margin-top: 10px;
   
    margin-bottom: 10px;
    float:left;*/
    margin-left: auto;
    margin-right: auto;
    /* margin:10px yazmak ile mr-mt-ml-mb yazmak aynı şeyler */
    /* kutuları yanyana getirmek için float özelliği  kullanılır. */
    border: 5px solid rgb(60, 71, 60);
    
     
}

.bg-grey{
    background-color: #2d3946;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    text-decoration: none;
    
}


.bg-red{
background-color: red;



}


.bg-green{
    background-color: green;
    
    
    
    }

 .CARD{
    background-color: #E9ECEF;
    margin: auto;
 }   